.roll {
    text-align: center;
    background-color:  rgb(110, 110, 192)
    
}

.first-button {
    position: absolute;
    top: 20%;
    left: 44%;
    height: 4%;
    width: 6%;
    font-size: 16px;
}

.second-button {
    position: absolute;
    top: 20%;
    left: 51%;
    height: 4%;
    width: 6%;
    font-size: 16px;
}

.value-1 {
    position: absolute;
    top: 24%;
    left: 47%;
}

.value-2 {
    position: absolute;
    top: 24%;
    left: 53%;
}

body {
    background-color: rgb(168, 168, 231)
}